u:root{
    --cinza: #aaa;
    --vermelha: #e93d50;
    --vermelho-escuro: #af303f;
    --branca: #fff;
    --luz: rgb(229,255,0);
}

boody{
    align-items: center;
    background: linear-gradient(45deg, #a7cfdf 0%, #23538a 100%);
    display: flex;
    justify-content:center;
}